@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

body {
  font-family: 'Inter', sans-serif;
  background-color: #f4f1ee; 
  color: #222;
  margin: 0;
  padding: 40px;
  line-height: 1.6;
}


a {
  color: #3b5bfd;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}


h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

p {
  max-width: 700px;
}
